@model KnowledgeBase.Models.ArticleListViewModel

@{
    List<List<string>> tagsGroups = Model.GroupedArticles.Keys.Select((x, i) => new { Index = i, Value = x })
                                                            .GroupBy(x => x.Index / 5)
                                                            .Select(x => x.Select(y => y.Value.Name).ToList())
                                                            .ToList();
}

@foreach (var tags in tagsGroups) { 
    <ul class="nav nav-pills nav-justified">
        @foreach (var tag in tags) { 
            <li class="active pill-item"><a class="pill-link" href="#@tag">@tag</a></li>
          }
    </ul>
}


<!-- Example row of columns -->
@foreach (var item in Model.GroupedArticles) {
    <div class="knowledge">
        <h2 class="text-center">
            <a href="#" role="button" id="@item.Key.Name" class="openAllLinks">@item.Key.Name &raquo;</a>
        </h2> 
        
    
        <div class="row">
            @foreach (var article in item.Value) { 
                <div class="col-md-4">
                    <div data-name="@article.Name.ToLower()" class="article well">
                        <a class="pull-right" href="@Url.Action("remove", "knowledge")?id=@Html.Encode(@article.Id)" role="button">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" />
                        </a>
                        <h4>@article.Name</h4>
                        <small>@article.Description</small>
                        <p><a target="_blank" class="btn btn-default" href="@article.Link" role="button">Open &raquo;</a></p>
                        <span class="label label-primary pull-right">@item.Key.Name</span>
                        <input type="hidden" value=">@article.Id" />
                    </div>
                </div>
            }
        </div>
    </div>
}