@model KnowledgeBase.Models.RegisterViewModel
@{ 
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Register";
}

<div class="register-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>Registration</h3>
                <small>It is completely free! Keep your knowledge and share with the world.</small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form", id = "loginForm" })) {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="row">
                            <div class="form-group col-lg-6">                                
                                @Html.LabelFor(m => m.Name)
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", tabindex = 1, autofocus = "", required = "" })                                
                            </div>
                            <div class="form-group col-lg-6">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", tabindex = 2, required = "", type = "email" })                    
                            </div>
                            <div class="form-group col-lg-6">
                                @Html.LabelFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", tabindex = 3, required = "" })
                            </div>
                            <div class="form-group col-lg-6">
                                @Html.LabelFor(m => m.ConfirmPassword)
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", tabindex = 4, required = "" })
                            </div>                            
                        </div>
                        <div class="text-center">                            
                            <input type="submit" class="btn btn-success" value="Register" tabindex="5" />
                            <a href="@Url.Action("Index", "Knowledge")" class="btn btn-default" tabindex="6">Cancel</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>MyKnowledge</strong> - <small>Small app for store urls <br /> 2016 Copyright Jplindgren</small>
        </div>
    </div>
</div>
